* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 16px;
    margin:0;
    padding:0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 5px;
}

main {
   text-align: center;
}

#logo {
    font-family: "Shadows Into Light Two", cursive;
    color: green;
    font-size: 30px;
}

.topnav a {
    text-decoration: none; 
    color: #333;
    font-size: 17px;
    padding: 0.5rem 1rem;
}
 
.topnav a:hover {
    color: blue;
    border-radius: 10px;
}
  
 
.topnav a.home {
    text-decoration: none;
    font-weight: bold;
}

.topnav a[href="#sign-in"] {
    color: white;
    background-color: black;
    border: 1px solid #333;
    padding: 8px 15px;
    border-radius: 20px;
}

.text-item {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

.text-item h1 {
    text-align: center;
    margin: .5rem;
    align-items: center;
}

.or {
    text-align: center;
    background-color: lightgray;
    padding-top: 15rem;
}

.saved-activities h1 {
    text-align: left;
    vertical-align: bottom;
    padding-top: 10rem;
    margin-left: 100px;
}

.saved-activities {
    background-color: lightgray;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.saved-activities div{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-top: 50px;
    justify-content: space-evenly;
  }

.saved-activities div div{
    flex:0 0 250px;
    background-color:rgba(76, 175, 80, 0.3);
    margin: .5rem;
    border-radius: 10px;
}

.saved-activities div div img{
   width: 200px;
   height: 200px;
   padding: 1rem;
}

.saved-activities div div p{
    padding: 0.5rem 1rem;
}  

.saved-activities button{
    background-color: lightgray;
    border-radius: 50%;
}

#act-search-bar {
    display: flex;
    overflow: hidden;
    vertical-align: center;
    flex-grow: .5;
    position: relative;
    top: 50px;
    height: 70px;
    width: 65%; 
    padding: 15px; 
    font-size: 18px;
    background-color: #cefad0;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

#act-search-bar input[type=text]{
    float: right;
    padding: 10px;
    border: none;
    margin-top: 10px;
    margin-right: 16px;
    font-size: 30px;
}

.saved-act-card img{
    object-fit: cover; 
}

.act-container {
    margin-left: 80px;
    margin-right: 80px;
}
 

/* Media query for tablets and small desktops (e.g., min-width: 768px) */

@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

    .topnav {
        align-self: center;
    }
}

@media (min-width: 768px) {
    .topnav a {
        font-size: 18px; /* Slightly larger font size for larger devices */
    }

    .saved-activities {
        flex-direction: row;
        justify-content: space-between;
    }

    .act-container {
        width: 900px;
        padding-right: 100px;
    }
}

/* Media query for large desktops (e.g., min-width: 1024px) */
@media (min-width: 1024px) {
    .topnav {
        justify-content: flex-end; /* Adjust navigation for large screens */
    }

    .act-container {
        align-items: center;
        padding: 25px; /* More spacious layout for larger screen */
    }
}