* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 12px;
    margin:0;
    padding:0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 5px;
}

main {
   text-align: center;
   /* border: 3px solid black; */
}

#logo {
    font-family: "Shadows Into Light Two", cursive;
    color: green;
    font-size: 30px;
}

.topnav a {
    text-decoration: none; 
    color: #333;
    font-size: 17px;
    padding: 0.5rem 1rem;
}

.topnav a:hover {
    color: blue;
    border-radius: 10px;
}
  
.topnav a.home {
    text-decoration: none;
    font-weight: bold;
}

.topnav a[href="#sign-in"] {
    color: white;
    background-color: black;
    border: 1px solid #333;
    padding: 8px 15px;
    border-radius: 20px;
}

.add-act-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.add-activity {
    text-align: center;
    width: 500px;
    height: 400px;
    margin-bottom: 20px;
    background-color: rgba(76, 175, 80, 0.3);
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    overflow: hidden;
}

.add-act-card img {
    width: 500px;
    height: 250px;
    object-fit: cover; 
}

.time-start {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    justify-content: center;
}

.time-end {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 10px;
    justify-content: center;
}

.btn {
    margin-left: 10px;
}

.add-activity-btn {
    text-align: center
}

/* Media query for tablets and small desktops (e.g., min-width: 768px) */


@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

    .topnav {
        align-self: center;
    }
}
@media (min-width: 768px) {
    .topnav a {
        font-size: 18px; 
        flex-wrap: wrap;
    }

    .topnav a[href="#sign-in"] {
        color: white;
        background-color: black;
        border: 1px solid #333;
        padding: 6px 11px;
        border-radius: 15px;
    }

    .add-activity {
        flex-direction: row;
        justify-content: space-between;
    }

    .add-act-card-container {
        flex-wrap: wrap;
    }

    .add-act-card {
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (min-width: 1024px) {
    .topnav {
        justify-content: flex-end; 
    }

    .add-act-card-container {
        width: 100%; 
    }

    .add-act-card {
        width: 100%;
    }
}
