* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem; /* Increased padding */
    margin-top: 0.313rem;
    margin-bottom: 3.125rem;
}

#logo {
    font-family: "Shadows Into Light Two", cursive;
    color: green;
    font-size: 2.5rem; /* Larger font size for desktop */
}

.topnav a {
    text-decoration: none; 
    color: #333;
    font-size: 1.25rem; /* Larger font size for desktop */
    padding: 0.5rem 1rem;
}

.topnav a:hover {
    color: blue;
    border-radius: 0.625rem;
}

.topnav a.home {
    text-decoration: none;
    font-weight: bold;
}

.topnav a[href="#sign-in"] {
    color: white;
    background-color: black;
    border: 0.063rem solid #333;
    padding: 0.5rem 0.938rem;
    border-radius: 20px;
}

.topnav a[href="#sign-in"]:hover {
    background-color: #333;
}

body {
    font-family: "Nunito Sans", Arial, sans-serif;
    font-size: 1rem;
    margin:0;
    padding:0;
}

.categories {
    margin-top: 4.375rem;
}

.categories_top,
.categories_bottom {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    padding: 0;
    margin-bottom: 0.5rem; 
    gap: 1.25rem;
}

.categories_top li,
.categories_bottom li {
    margin: 0 0.625rem;
    cursor: pointer;
    padding: 0.625rem;
    font-size: 1.25rem; 
}

#outdoors {
    background-color: green;
    color: white;
    border-radius: .625rem;
}

.categories-container {
    display: flex;
    flex-direction: row; /* Row layout for desktop */
    justify-content: space-around; /* Distribute space around elements */
    margin-left: 0.625rem;
    margin-top: 5rem;
}

#outdoor-act {
    margin-left: 120px;
}

#outdoor-cat {
    margin-bottom: 1.2rem;
}

.category-section {
    display: flex;
    margin-left: 1.875rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}

.category-section form p {
    margin: 15px 0;
}

form {
    margin-top: 0;
}

.container {
    display: flex;
    flex-direction: row; /* Row layout for larger screens */
    align-items: flex-start;
    max-width: 500px;
}

.card {
    max-width: 300px;
    flex: 1;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    overflow: hidden;
    position: relative;
    margin: 0.5rem; /* Add margin to cards */
}

.card img {
    width: 18.75rem;
    height: auto;
    object-fit: cover; 
}

.card-content {
    margin-left: 0.625rem;
}

.card-content h2 {
    font-size: 1.5rem; /* Larger font size for headings */
    margin-top: 0.313rem;
    margin-bottom: 1.25rem;
}

.card-button {
    color: white;
    text-decoration: none;
    background: #3498db;
    padding: 0.5rem 0.938rem;
    border-radius: 0.313rem;
    display: inline-block;
    margin-top: 1.563rem;
    margin-bottom: 10px;
} 

.icon-container {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 35px;
    height: 35px;
    margin: 15px;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}

ion-icon {
    color:#333;
    font-size: 25px;
}

/* Media Queries for Smaller Screens */

/* Tablets and small desktops */
@media (max-width: 1024px) {
    #logo {
        font-size: 2rem; /* Smaller font size */
    }

    .topnav a {
        font-size: 1rem; /* Smaller font size */
    }

    .categories_top li, .categories_bottom li {
        font-size: 1.25rem; /* Smaller font size */
    }

    .card {
        max-width: 100%; /* Full width for smaller screens */
    }

    .categories-container {
        flex-direction: column; /* Column layout for smaller screens */
    }

    .container {
        flex-direction: column; /* Column layout for smaller screens */
    }
}

/* Mobile Phones */
@media (max-width: 600px) {
    header {
        flex-direction: column; /* Stack elements for mobile */
    }

    .topnav {
        align-self: center;
    }

    .categories_top, .categories_bottom {
        flex-direction: column; /* Stack categories for mobile */
    }

    .card {
        margin: 0.25rem; /* Smaller margin for cards */
    }

    .card-content h2 {
        font-size: 1.25rem; /* Smaller font size for headings */
    }
}
