*{
  font-family: "Nunito Sans", Arial, sans-serif;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 50px;
}

#logo {
  font-family: "Shadows Into Light Two", curisve;
  color: green;
  font-size: 30px;
}

.topnav a {
  text-decoration: none; 
  color: #333;
  font-size: 17px;
  padding: 0.5rem 1rem;
}

.topnav a:hover {
  color: blue;
  border-radius: 10px;
}


.topnav a.home {
  text-decoration: none;
  font-weight: bold;
}

.topnav a[href="#sign-in"] {
  color: white;
  background-color: black;
  border: 1px solid #333;
  padding: 8px 15px;
  border-radius: 20px;
}


.topnav a[href="#sign-in"]:hover {
  background-color: #333;
}

.form-body{
    padding-left:8rem;
    padding-right:8rem;
}

.form-container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 3rem;
    margin-bottom: 0rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding-top:5rem;
    padding-left:8rem;
    padding-right:8rem;
  }

  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px; 
  }
  