*{
    font-family: "Nunito Sans", Arial, sans-serif;;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 50px;
}
#logo {
    font-family: "Shadows Into Light Two", curisve;
    color: green;
    font-size: 30px;
}

.topnav a {
    text-decoration: none; 
    color: #333;
    font-size: 17px;
    padding: 0.5rem 1rem;
}
 
  .topnav a:hover {
    color: blue;
    border-radius: 10px;
  }
  
 
  .topnav a.home {
    text-decoration: none;
    font-weight: bold;
  }

.topnav a[href="#sign-in"] {
    color: white;
    background-color: black;
    border: 1px solid #333;
    padding: 8px 15px;
    border-radius: 20px;
}

.topnav a[href="#sign-in"]:hover {
    background-color: #333;
}
.sign-in-button1-container{
    padding-bottom: 1rem;
    padding-top:15rem;
    text-align: center;
}
.sign-in-button2-container{
    padding-bottom: 4rem;
    text-align: center;
}
.sign-in-button1-container button,
.sign-in-button2-container button{
    padding:1rem;
    font-size: larger;
    border-radius: 10px;
    background-color: lightgray;
    border-style: none;
}
.sign-in-button1-container button a,
.sign-in-button2-container button a{
    text-decoration: none;
    color: #333333;
}
