
body {
    font-family: "Nunito Sans", Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction:column;
    height:inherit;
  }

  body,html{
    box-sizing: border-box;
  }
  .container{
    display: flex;
    flex-direction: column;
    height:100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .my-itinerary{
     align-content: center;
  }
  .my-itinerary h1{
    padding-bottom: 5rem;
    padding-top:4rem
  }
  h1{
    padding-left: 2rem;
    font-size: 25px;
  }
  .button1-container{
    text-align: center;
    padding:2rem;
  }
  button{
    color: white;
    background:green;
    padding: 8px 15px;
    border-radius: 30px;
    display: inline-block;
    border-color: none;
  }
  button a{
    text-decoration: none;
    font-size: larger;
    color:black;
    margin: 1rem;
    border-color: none;
  }
  .saved-activities{
    align-content: center;
    flex-basis: 240px;
    padding-top: 5rem;
  }
  .saved-activities div{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    margin-left: 1em;
    margin-right: 1em;
  }
  .saved-activities .card {
    width: 300px;
    height: 350px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    overflow: hidden;
  }
  .saved-activities img{
    width: 300px;
    height: auto;
    object-fit: cover; 
  }
  .saved-actvities p{
    padding: 0.5rem 1rem;
  }
nav{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    color:white;
    padding: 0.5rem;
    padding-bottom:1rem;
    padding-right:1rem;
}
nav, ul{
    margin:5px;
    padding:5px;
    text-align:right;
}
nav li{
    display:inline;
    margin: 2rem;
}
nav li.button{
    border-radius: 50%;
}
nav a{
    color: #333333;
    text-decoration: none;
}
nav a:hover{
    color:lightblue;
}
