header{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: bisque;
    padding-top:20px;
    padding-bottom:20px;
}
h2{
    font-size: 20px;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h2{
    background-color: bisque;
}
p{
    padding-left:20px;
    padding-right:20px;
}